.emailRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  height: 40px;
  justify-content: space-between;
  cursor: pointer;
  padding: 0px 5px;
}
.emailRow:hover {
  outline: 1px solid whitesmoke;
  box-shadow: 1px 1px 2px 1px whitesmoke;
}
.emailRow__part1 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: start;
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.emailRow__part1__title {
  flex: 0.33;
  font-size: medium;
  font-weight: 400;
}

.emailRow__part1__message {
  justify-self: flex-start;
  margin-left: 80px;
  font-size: medium;
  font-weight: 300;
}
.emailRow__part1__description {
  font-size: small;
  font-weight: 400;
  color: gray;
}

.emailRow__part2__time {
  margin-left: 20px;
  font-size: small;
  font-weight: 200;
}
